@charset "UTF-8";

a {
   text-decoration: none;
}

a:link {
   color: rgb(255, 192, 192);
}

a:visited {
   color: rgb(255, 192, 192);
}

a:hover {
   bottom: 1px;
   position: relative;
   text-decoration: underline;
}

a:active {
   color: rgb(255, 192, 192);
}

body {
   background-color: rgb(0, 128, 0);
   color: rgb(255, 255, 255);
}

h1 {
   background-color: rgb(128, 0, 0);
   border-color: rgb(128, 0, 0);
   border-style: ridge;
   border-width: 6px;
   display: table;
   font-family: serif;
   font-size: 250%;
   font-weight: normal;
   margin: auto;
   margin-block: 0px;
   padding: 9px;
   text-align: center;
}

h2 {
   font-size: 150%;
   font-weight: normal;
   margin-block: 0px;
   text-align: center;
}

table {
   background-color: rgb(128, 0, 0);
   border-collapse: separate;
   border-color: rgb(128, 0, 0);
   border-spacing: 3px;
   border-style: outset;
   border-width: 3px;
   color: rgb(255, 255, 255);
   margin: auto;
   text-align: center;
}

table a:active {
   color: rgb(192, 255, 192);
}

table a:link {
   color: rgb(192, 255, 192);
}

table a:visited {
   color: rgb(192, 255, 192);
}

td {
   border-color: rgb(128, 0, 0);
   border-style: inset;
   border-width: 3px;
   padding: 9px;
}

th {
   border-color: rgb(128, 0, 0);
   border-style: inset;
   border-width: 3px;
   padding: 9px;
}

.email, .url {
   font-family: monospace;
}
