@charset "UTF-8";

@import url(/fonts/fonts.css);

:root {
   --background-colour: light-dark(
      rgb(195, 255, 195),
      rgb(0, 60, 0)
   );
   --link-colour: light-dark(
      rgb(120, 0, 0),
      rgb(255, 195, 195)
   );
   --monospace: Inconsolata, Consolas, "Andale Mono", AndaleMono, monospace;
   --serif: Palatino, "Palatino Linotype", "Book Antiqua", Gentium, Didot, serif;
   --table-background-colour: light-dark(
      rgb(255, 120, 120),
      rgb(105, 0, 0)
   );
   --table-link-colour: light-dark(
      rgb(0, 120, 0),
      rgb(195, 255, 195)
   );
   --text-colour: light-dark(
      rgb(0, 0, 0),
      rgb(255, 255, 255)
   );
   color-scheme: dark light;
}

a {
   text-decoration: none;
}

a:link {
   color: var(--link-colour);
}

a:visited {
   color: var(--link-colour);
}

a:hover {
   bottom: 1px;
   position: relative;
   text-decoration: underline;
}

a:active {
   color: var(--link-colour);
}

body {
   background-color: var(--background-colour);
   color: var(--text-colour);
   font-family: var(--serif);
}

h1 {
   background-color: var(--table-background-colour);
   border-color: var(--table-background-colour);
   border-style: ridge;
   border-width: 6px;
   display: table;
   font-size: 250%;
   font-weight: normal;
   margin: auto;
   margin-block: 0px;
   padding: 9px;
   text-align: center;
}

h2 {
   font-size: 150%;
   font-weight: normal;
   margin-block: 0px;
   text-align: center;
}

table {
   background-color: var(--table-background-colour);
   border-collapse: separate;
   border-color: var(--table-background-colour);
   border-spacing: 3px;
   border-style: outset;
   border-width: 3px;
   color: var(--text-colour);
   margin: auto;
   text-align: center;
}

table a:active {
   color: var(--table-link-colour);
}

table a:link {
   color: var(--table-link-colour);
}

table a:visited {
   color: var(--table-link-colour);
}

td, th {
   border-color: var(--table-background-colour);
   border-style: inset;
   border-width: 3px;
   padding: 9px;
}

.email, .url {
   font-family: var(--monospace);
}
