@charset "UTF-8";

a {
   text-decoration: none;
}

a:link {
   color: #ffc0c0;
}

a:visited {
   color: #ffc0c0;
}

a:hover {
   bottom: 1px;
   position: relative;
   text-decoration: underline;
}

a:active {
   color: #ffc0c0;
}

body {
   background-color: #008000;
   color: #ffffff;
}

table {
   background-color: #800000;
   border-collapse: separate;
   border-color: #800000;
   border-spacing: 3px;
   border-style: outset;
   border-width: 3px;
   color: #ffffff;
   margin: auto;
   text-align: center;
}

table a:active {
   color: #c0ffc0;
}

table a:link {
   color: #c0ffc0;
}

table a:visited {
   color: #c0ffc0;
}

td {
   border-color: #800000;
   border-style: inset;
   border-width: 3px;
   padding: 9px;
}

th {
   border-color: #800000;
   border-style: inset;
   border-width: 3px;
   padding: 9px;
}

.bigtop {
   font-family: serif;
   font-size: 250%;
   text-align: center;
}

.email, .url {
   font-family: monospace;
}

.smalltop {
   font-size: 150%;
   text-align: center;
}
